body {
	font-family: 'Nunito', Helvetica, Arial, sans-serif;
	/* always set a base font and font-size */
	font-size: 100%;
	color: #000;
	background: #fff;
	font-weight: 300;
	}

#wrapper {
	margin: 20px auto;
	width: 70%;;
	}
	
#graph_container {
	width: 25%;
	float: right;
	margin-left: 1em;
	margin-right: 30%;
	background-color: #fff;
	position: relative;
	}
	
/*#form_container {
	width: 20em;
	height: 25em;
	position: relative;
	background-color: #3498db;
	overflow: hidden;
	border-radius: 5em; // add webkit and moz
	}

.panel {
	background-color: #3498db;
	height: 15em;
	text-align: center;
	padding: 2em;
	font-size: 2em;
	color: #fff;
	}*/

#sub-choices, #unsub-choices {
	font-size: .5em;
	}

h1 {
	font-size: 2.5em;
	font-weight: 700;
	padding-bottom: .3em;
	padding-top: .4em;
	text-align: center;
	color: #3498db;
	}

h3 {font-size: 1em;}
	
#head_container {
	background-color: #ecf0f1;
	border-radius: 3em;
	margin-bottom: 1em;
	}
	
p {padding-bottom: .5em;}

#facts p {font-size: 50%; font-weight: 300;}
span {font-weight: 700; color: #b03a2e;}


/* links */

a:focus {
	outline: 2px solid #069;
	}
a:link, a: active, a:visited {
	color: #00c;
	text-decoration: underline;
	}
a:hover {
	color: #00f;
	text-decoration: none;
	}
	
/* GRAPH STYLES */
	
#axes {
	height: 300px;
	width: 200px;
	border-left: 1px solid #888;
	border-bottom: 1px solid #888;
	position: relative;
	background-color: #ecf0f1;
	}
	
#axes_bottom {
	height: 300px;
	width: 200px;
	border-left: 1px solid #888;
	position: relative;
	background-color: #ecf0f1;
	}
	
#income_bar {
	position: absolute;
	bottom: 0;
	height: 0;
	width: 150px;
	background-color: #3498db;
	margin-left: 25px;
	}
	
#bar_container {
	position: absolute;
	top: 0;
	height: 0;
	width: 150px;
	margin-left: 25px;
	}

#rent_bar {
	height: 0;
	width: 150px;
	background-color: #e74c3c;
	}
	
#expenses_bar {
	height: 0;
	width: 150px;
	background-color: #a3362a;
	}
	
#loans_bar {
	height: 0;
	width: 150px;
	background-color: #78271f;
	}

.label {
	text-align: center;
	padding-top: 1em;
	color: #fff;
	font-weight: 300;
	font-size: .9em;
	}

#origin {position: absolute; top: 290px; left: -15px; color: #3498db;}
#max {position: absolute; top: -5px; left: -50px; color: #3498db;}
#min {position: absolute; bottom: -5px; left: -55px; color: #3498db;}